<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="wizzy_after_products_mapped">
        <observer name="wizzy_after_products_mapped_observer" instance="Wizzy\Events\Observer\AfterProductMapped\Products"/>
    </event>
        <event name="wizzy_before_product_skip_check">
        <observer name="wizzy_before_product_skip_check_observer" instance="Wizzy\Events\Observer\BeforeProductSkip\Products"/>
    </event>
        <event name="wizzy_after_product_categories_generated">
        <observer name="wizzy_after_product_categories_generated_observer" instance="Wizzy\Events\Observer\ProductCategoriesGenerated\Products"/>
    </event>
</config>